@font-face {
   font-family: "Avenir Next Regular";
   src: url("fonts/Avenir Next Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Avenir Heavy";
   src: url("fonts/Avenir Book.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Avenir Next Medium";
   src: url("fonts/Avenir Next Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}